body {
	font-family: Helvetica;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	width: 100%;
}
nav,
header {
	overflow: auto;
}
.page-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: rgba(49, 209, 196);
	position: fixed;
	top: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	z-index: 999;
}
nav ul,
.page-header > h4 {
	margin: 0;
	color: rgb(34, 34, 34);
}
.page-header > h4 {
	padding-left: 20px;
}
.page-header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding-right: 30px;
}
.page-header a {
	display: block;
	padding: 1em;
	text-decoration: none;
	color: rgb(34, 34, 34);
}
.items {
	display: grid;
	grid-template-columns: repeat(4, 120px);
	grid-column-gap: 200px;
	margin: 70px 10px 0 10px;
}
.item {
	border: solid 1px;
	width: 300px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.item > p:nth-child(2) {
	height: 120px;
	margin: 1.5em 1.5em 0 1.5em;
	padding: 0;
}
.item > p:nth-child(3) {
	margin: auto 1.5em 1.5em 1.5em;
	padding: 0;
}
.item > button {
	border: none;
	border-radius: 50px;
	background-color: rgba(49, 209, 196, 0.89);
	padding: 1em 1.8em 1em 1.8em;
	margin: auto 0 2em 0;
	align-self: center;
	justify-self: flex-end;
}
.item > button:hover {
	background-color: rgba(248, 193, 54);
}
footer {
	background-color: rgb(248, 193, 54);
	width: 100%;
	height: auto; /* Height of the footer */
	margin: 7 0px 0 -100px 0;
	font-family: monospace;
}
#cart-qty {
	padding: 10px 0 0 25px;
	font-weight: bolder;
}
footer ul {
	list-style: none;
	padding-left: 0;
}
#item-list li:nth-child(even) {
	padding: 5px 0 5px 25px;
	color: rgb(49, 49, 49);
	background-color: rgb(220, 221, 220);
}
#item-list li:nth-child(odd) {
	padding: 5px 0 5px 25px;
	background-color: rgb(49, 49, 49);
	color: rgb(249, 251, 249);
}
#item-list > li {
	display: flex;
	justify-content: flex-end;
}
#cart-total {
	text-align: right;
	font-weight: bolder;
	text-decoration: underline;
	padding: 0 10px 10px 0;
}
footer button,
footer input {
	border: none;
	border-radius: 10px;
	font-family: 'Courier New', Courier, monospace;
	padding: 5px 10px 5px 10px;
	margin: 0 10px 0 10px;
	background-color: ivory;
}
