body {
	font-family: Helvetica;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}
.page-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(49, 209, 196, 0.89);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page-header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}
.page-header a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
}
.items {
	display: grid;
	grid-template-columns: repeat(4, 120px);
	grid-column-gap: 200px;
	margin-left: 100px;
	margin-top: 50px;
}
.item {
	border: solid 1px;
	width: 300px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.item > button {
	border: none;
	border-radius: 50px;
	background-color: rgba(49, 209, 196, 0.89);
	padding: 12px;
	margin: auto 0 1em 0;
	align-self: center;
	justify-self: flex-end;
}
